/* @@@
      @@@FOOTER
@@@ */  

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    right: 0; */
    height: 90px;
    background-color: #282828;
    color: white;
    width: 100vw;
}

.player-row {
    display: flex;
}

.player-row > div {
    width: calc(100% / 3);
    display: flex;
}

.col-sx .cover img {
    max-width: 40px;
}