/* @@@
      @@@FOOTER
@@@ */  

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    right: 0; */
    height: 90px;
    background-color: #282828;
    color: white;
    width: 100vw;
}

.player-row {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.player-row > div {
    width: calc(100% / 3);
    display: flex;
    height: 100%;
}
/* ----colonna sinistra-----  */

.col-sx .cover img {
    max-width: 40px;
    max-height: 40px;
}

.cover {
    padding: 0 10px;
}

.player-row .col-sx {
    align-items: center;
}

.player-row .col-sx .band-brano {
    padding-right: 30px;
    font-size: 11px;
}

.band-brano .band {
    font-weight: bolder;
}

.funzioni {
    padding-right: 40px;
}

/* ------colonna centrale------ */
.col-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.comandi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 50%;
    gap: 0 20px;
}

.comandi i:not(.fa-circle-play) {
    font-size: 15px;
}

.fa-circle-play {
    font-size: 30px;
    padding: 0 10px;
}

.tempo {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: center;
}

.durata {
    width: 100%;
    height: 5px;
    background-color: #5a5a5a;
    margin: 0 10px;
    border-radius: 25px;
}

.tempo span {
    font-size: 10px;
}

.pieno-20 {
    width: 20%;
    height: 100%;
    background-color: #c1c1c1;
    border-radius: 25px;
}

/* ------colonna destra------ */

.col-rx {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col-rx i {
    padding-left: 15px;
}

.volume {
    width: 100px;
    height: 5px;
    background-color: #5a5a5a;
    margin: 0 10px;
    border-radius: 25px;
}

/* ------MEDIA QUERIES ------  */

@media screen and (max-width: 552px) {
    .col-rx i {
        padding-left: 10px;
    }

    .player-row .col-sx .band-brano {
        padding-right: 25px;
    }
}

@media screen and (min-width: 878px) {
    .funzioni {
        display: flex;
        gap: 15px;
    }
}

/* -----hover-timeee------ */

.player-row .col-mid .fa-circle-play:hover {
    scale: 1.2;
}

.band-brano .brano:hover {
    color: white;
    text-decoration: underline;
}

.funzioni i:hover {
    color: white;
}

.tempo:hover + .pieno-20 {
    background-color: #adff2f;
}