/* @@@
      @@@NAV
@@@ */ 

nav {
    background-color: black;
    height: calc(100vh - 90px);
    padding-right: 20px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    width: 230px;
    overflow: hidden;
}

nav > *:not(.nav-home) {
    padding-left: 20px;
}

nav .logo {
    height: 90px;
    padding: 20px 0 0 20px;
}

nav .logo img {
    width: 130px;
}

.nav-home {
    font-size: 11px;
}

.nav-home li {
    padding-left: 20px;
}

nav li img {
    height: 25px;
    vertical-align: middle;
}

.nav-user .font-gray img {
    width: 15px;
}

.nav-user .font-white img {
    width: 30px;
    height: 30px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.installa li:first-child {
    border-bottom: 1px solid lightgray;
}

.user-pic {
    padding-top: 10px;
}

.nav-user {
   margin-top: auto;
   padding-bottom: 10px;
}

.nav-playlist {
    overflow: auto;
    font-size: 11px;
    font-weight: 900;
    min-height: 100px;
}

nav .xs {
    width: 30px;
    display: none;
}

.titolo-bottone, nav h4, .small {
    font-size: 11px;
}

#add {
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: black;
    background-color: lightgray;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.margined-nav {
    border-left: 3px solid #adff2f;
}

/* @@@
      @@@MEDIA QUERIES 552px
@@@ */ 

@media screen and (max-width: 552px) {
    nav { 
        width: 50px;
        align-items: center;
    }

    nav .xs {
        max-width: 30px;
        display: block;
    }

    nav .small {
        display: none;
    }

    nav .nav-playlist {
        display: none;
    }

    .nav-user ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-user .font-white img {
        margin-right: 0;
    }

    nav h4, .titolo-bottone {
        display: none;
    }

    .installa li:first-child {
        border-bottom: 0;
    }
}

/* -----hover-timeeeee----- */

.nav-playlist li:hover{
    color: white;
}

.nav-user .installa li:hover {
    color: white;
}

.crea-list:hover {
    color: white;
}

.nav-home li:hover{
    color: white;
}

#add:hover {
    color: white;
}
