/* @@@
      @@@RESET
@@@ */  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* @@@
      @@@COMMON
@@@ */  

button {
    background-color: inherit;
    border: 0;
}

.font-white {
    color: white;
}

.font-gray {
    color: gray;
}

ul {
    list-style: none;
}
/* @@@
      @@@HEADER
@@@ */  
.opaco {
    width: 100%;
    padding: 20px 15px 0 0;
    text-align: right;
}

.opaco button {
    padding: 15px 40px;
    border: 1px solid #ffffff;
    border-radius: 30px;
}

header {
    background-color: rgba(8, 11, 18, 0.5);
    height: 90px;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 230px);
}

/* @@@
      @@@NAV
@@@ */  
nav {
    /* position: fixed;
    top: 0;
    left: 0; */
    background-color: black;
    /* height: calc(100% - 90px); */
    padding: 0 20px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    width: 230px;
    /* position: relative; */
}

.nav-container {
    padding: 0 20px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    width: 230px;
    /* position: relative; */
}

nav .logo {
    height: 90px;
    padding: 20px 0 0 0;
}

nav .logo img {
    width: 130px;
}

nav li img {
    height: 25px;
    vertical-align: middle;
}

.nav-user .font-gray img {
    width: 10px;
}

.nav-user .font-white img {
    width: 30px;
    height: 30px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.installa {
    border-bottom: 1px solid lightgray;
}

.nav-user {
   /* position: absolute;
   bottom: 0;
   width: calc(100% - 40px);
   background-color: black;
   padding-bottom: 5px; */
   margin-top: auto;
}

.nav-playlist {
    overflow: auto;
}

/* @@@
      @@@MAIN
@@@ */  
.second-body {
    display: flex;
    flex-wrap: wrap;
}

main {
    /* padding: 90px 0 90px 230px; */
    background-color: #141922;
    height: calc(100vh - 90px);
    /* debug */
    width: calc(100vw - 230px);
}

/* @@@
      @@@FOOTER
@@@ */  

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    right: 0; */
    height: 90px;
    background-color: #282828;

}

.footer-container {
    color: white;
}
