@import url(nav.css);
@import url(header.css);

/* @@@
      @@@RESET
@@@ */  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* @@@
      @@@COMMON
@@@ */  

button {
    background-color: inherit;
    border: 0;
}

.font-white {
    color: white;
}

.font-gray {
    color: gray;
}

ul {
    list-style: none;
} 

/* @@@
      @@@MAIN
@@@ */  
body {
    display: flex;
    flex-wrap: wrap;
}

main {
    /* padding: 90px 0 90px 230px; */
    padding-top: 90px;
    background-color: #141922;
    width: calc(100% - 230px);
    /* debug */
    /* width: calc(100vw - 230px); */
    color: white;
    margin-left: auto;
}

/* @@@
      @@@FOOTER
@@@ */  

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    right: 0; */
    height: 90px;
    background-color: #282828;
    color: white;
    width: 100vw;
}
